@model IEnumerable<Models.IdeaDTO>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Data.ACMUser> SignInManager
@inject UserManager<Data.ACMUser> UserManager

@{
    ViewData["Title"] = "Ideas";
}

<h1>All Ideas</h1>

<p>
    <a asp-action="Create">Create New Idea</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (User.Identity.Name == item.UserName)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @:/
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                    else if (User.IsInRole(MagicStrings.AdminString))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
