@model Models.FinancialSummaryViewModel

@{
    ViewData["Title"] = "Financial";
}

<h1>Financial Summary</h1>

<div>
    <hr />
    <div>
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Paid)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(model => model.Paid)
                    </div>
                    <div class="col-sm-8 toggleArror" GoodTable="true">&#9660;</div>
                </div>
                <table class="table" style="background-color:#e9fce9;display:none">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Apartment Number")
                            </th>
                            <th>
                                @Html.DisplayName("Amount")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GoodHomeowners)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApartmentNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DisplayName("To Be Paid")
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(model => model.ToBePaid)
                    </div>
                    <div class="col-sm-8 toggleArror" GoodTable="true">&#9660;</div>
                </div>
                <table class="table" style="background-color:#e9fce9;display:none">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Apartment Number")
                            </th>
                            <th>
                                @Html.DisplayName("Amount")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BadHomeowners)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApartmentNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Spend)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(model => model.Spend)
                    </div>
                    <div class="col-sm-8 toggleArror" GoodTable="false">&#9660;</div>
                </div>
                <table class="table" style="background-color:#ffe6e6;display:none">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Message")
                            </th>
                            <th>
                                @Html.DisplayName("Amount")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PaidSpendings)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Text)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.DisplayName("To Be Spend")
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(model => model.ToBeSpend)
                    </div>
                    <div class="col-sm-8 toggleArror" GoodTable="false">&#9660;</div>
                </div>
                <table class="table" style="background-color:#ffe6e6;display:none">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Message")
                            </th>
                            <th>
                                @Html.DisplayName("Amount")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UnpaidSpendings)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Text)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-2">
        @Html.DisplayName("Current Balance")
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.CurrentBalance)
    </div>
</div>
<script src="~/js/FinancialSummary.js" asp-append-version="true"></script>
