@model ACM.Models.FinancialSummaryViewModel

@{
    ViewData["Title"] = "Financial";
}

<h1>Financial</h1>

<div>
    <h4>FinancialSummaryViewModel</h4>
    <hr />
    <div class="row">
        <span>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Paid)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Paid)
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Apartment Number")
                        </th>
                        <th>
                            @Html.DisplayName("Amount")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GoodHomeowners)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApartmentNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </span>
        <span>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToBePaid)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ToBePaid)
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Apartment Number")
                        </th>
                        <th>
                            @Html.DisplayName("Amount")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BadHomeowners)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApartmentNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </span>
        <span>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Spend)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Spend)
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Text")
                        </th>
                        <th>
                            @Html.DisplayName("Amount")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PaidSpendings)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </span>
        <span>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToBeSpend)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ToBeSpend)
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Text")
                        </th>
                        <th>
                            @Html.DisplayName("Amount")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UnpaidSpendings)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </span>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
