@model IEnumerable<Models.CodeDTO>

@{
    ViewData["Title"] = "AllCodes";
}

<h1>All Codes</h1>

<p>
    <a asp-action="CreateCode">Create New Code</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayName("Apartment Number")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNumber)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteCode", new {  id=item.Code  })
            </td>
        </tr>
}
    </tbody>
</table>
