@model IEnumerable<Models.ApartmentListDTO>

@{
    ViewData["Title"] = "All";
}

    <h1>All Apartments</h1>

<p>
    <a asp-action="Create">Create New Apartment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayName("Number of Registered Users")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredUsersCount)
            </td>
            <td>
                @Html.ActionLink("CreateARegistrationNumber", "CreateARegistrationNumber","Code", new {  id=item.Number  })
            </td>
        </tr>
}
    </tbody>
</table>
