@model IEnumerable<Models.MeetingsListViewModel>

@{
    ViewData["Title"] = "All";
}

<h1>All Meetings</h1>
@if (User.IsInRole(MagicStrings.AdminString))
{
    <p>
        <a asp-action="Create">Create New Meeting</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Meeting Text")
                </th>
                <th>
                    @Html.DisplayName("Number Of Votes")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfVotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        @if (User.IsInRole(MagicStrings.AdminString))
                        {
                            @:|
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            @:|
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
