@model IEnumerable<Models.BillsDTO>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Data.ACMUser> SignInManager
@inject UserManager<Data.ACMUser> UserManager
@{
    ViewData["Title"] = "All Bills";
}

<h1>All Bills</h1>

<form>
    <label class="radio-inline">
        <input type="radio" name="Owner" checked="" id="AllOwners"> All Bills
    </label>
    <label class="radio-inline">
        <input type="radio" name="Owner" id="MyBills"> My Bills
    </label>
</form>
<form>
    <label class="radio-inline">
        <input type="radio" name="Paid" checked="" id="All"> All Bills
    </label>
    <label class="radio-inline">
        <input type="radio" name="Paid" id="Paid"> Paid
    </label>
    <label class="radio-inline">
        <input type="radio" name="Paid" id="Unpaid"> Unpaid
    </label>
</form>
@if (User.IsInRole(MagicStrings.AdminString))
{
    <p>
        <a asp-action="Create">Create New Bill</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayName("Message")
            </th>
            @if (User.IsInRole(MagicStrings.AdminString))
            {
                <th></th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color:@if (item.Ispayed)
        {
            @:lightgreen
        }
        else
        {
            @:#ff9999
        }; " class=" @if (ViewBag.UserApartment == item.Apartment)
        {

            if (item.Ispayed)
            {
                @:MyBill Paid
            }
            else
            {
                @:MyBill NotPaid
            }
        }
        else {
            if (item.Ispayed)
            {
                @:NotMyBill Paid
            }
            else
            {
                @:NotMyBill NotPaid
            }
        } ">
                <td>
                    @Html.DisplayFor(modelItem => item.Apartment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                @if (User.IsInRole(MagicStrings.AdminString))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
                <td>
                    @if (ViewBag.UserApartment == item.Apartment && !item.Ispayed)
                    {

                        @Html.ActionLink("Pay", "Pay", new { id = item.Id })

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/Filters.js" asp-append-version="true"></script>
