@model IEnumerable<Models.WallOfShameElementDTO>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wall of shame</h1>
    @if (Model!=null)
    {

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Apartment Number")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayName("Number Of Unpaid Bills")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApartmentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfUnpaidBills)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        @:<h1>All Bills are paid</h1>>
    }

</div>
